{
	"mode": "archiver",
	"password": "{{ MASTER_PASS|default('123qwe') }}",
	"uri": "{{ API_GATEWAY_URL }}",
	"ping": "{{ API_GATEWAY_PING|default('30000') }}"
	"gCloudProjectId": "{{ GCLOUD_PROJECT }}",
	"gCloudKeyFilename": "{{ GCLOUD_KEY_FILENAME }}"
}
